.container {
  display: flex;
  min-height: 300px;
  max-height: 600px;
}

.screen {
  width: 400px;
  padding: 20px 20px 0px;
}

.activeLabel {
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #dedede;
  padding-bottom: 6px;
  margin-bottom: 20px;
}
