* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Inter";
  outline: none;
  border: none;
  background: none;
}

*:focus-visible {
  outline: none;
}

button {
  cursor: pointer;
}

label {
  margin-bottom: 2px;
  font-size: 12px;
}

input,
select {
  display: block;
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  margin: 2px 0px 8px;
}

#add-options {
  margin-bottom: 8px;
  margin: 0px 6px;
}

fieldset {
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 12px;
  margin-bottom: 12px;
  overflow: scroll;
}

#selector {
  margin-bottom: 22px;
}

#add-options {
  font-size: 14px;
}

.header {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
