* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
  outline: none;
}

*:focus-visible {
  outline: none;
}

label {
  margin-bottom: 2px;
  font-size: 12px;
}

input {
  display: block;
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  margin: 2px 0px 8px;
}

#add-options {
  margin-bottom: 8px;
  font-size: 14px;
  margin: 0px 6px;
}

.section {
  margin: auto;
  width: 400px;
  padding: 20px;
}

fieldset {
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 12px;
  margin-bottom: 12px;
}

#btn-selector {
  margin-bottom: 22px;
}

button[type="submit"] {
  padding: 4px 30px;
  border: none;
  background-color: #568de5;
  border-radius: 0px;
  color: white;
  float: right;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 14px;
}

button[type="submit"]:hover {
  background-color: #3e66a8;
}
