@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
  outline: none;
}

*:focus-visible {
  outline: none;
}

label {
  margin-bottom: 2px;
  font-size: 12px;
}

input,
select {
  display: block;
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  margin: 2px 0px 8px;
}

#add-options {
  margin-bottom: 8px;
  margin: 0px 6px;
}

.section {
  margin: auto;
  width: 400px;
  padding: 20px;
}

fieldset {
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 12px;
  margin-bottom: 12px;
  height: 400px;
  overflow: scroll;
}

#selector {
  margin-bottom: 22px;
}

#add-options {
  font-size: 14px;
}

button[type="submit"] {
  padding: 4px 30px;
  border: none;
  background-color: #5451ff;
  border-radius: 0px;
  color: white;
  float: right;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 14px;
}

button[type="submit"]:hover {
  background-color: #0400ff;
}

button#page-picker-btn {
  border: none;
  background: none;
  color: #0400ff;
  text-decoration: underline;
  font-family: "Roboto-Medium";
  cursor: pointer;
  margin-left: 4px;
}

.header {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
